.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  .name {
    font-size: 2.5rem;
    margin-top: 2%;
    letter-spacing: 0.3rem;
    display: flex;
    justify-content: center;
    .titleLocation {
      margin-right: 10px;
    }
    .titleHours {
      margin-left: 10px;
    }
  }
  .container {
    display: flex;
    .location {
      width: 50%;
    }
    .hour {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
