.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: auto;
  .name {
    font-size: 2.5rem;
    margin-top: 2%;
    letter-spacing: 0.3rem;
    display: flex;
    justify-content: center;
    .titleLocation {
      margin-right: 10px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    .location {
      width: 100%;
    }
  }
}
