@import "../../style/Style.scss";

.container {
  background-color: $backGround;
  position: sticky;
  padding: 1%;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  .link {
    margin: 1%;
    color: black;
    text-decoration: none;
    padding: 0.5%;
  }
  .link:hover {
    color: white;
    border-style: dashed;
    border-color: black;
  }
  .order {
    padding: 0.5%;
    background-color: orange;
    color: white;
  }
}
